<div class="col-12 col-md-6 col-lg-4 home__post--item">
    <div class="home__post--item-box">
        <a class="home__thumbnail__link" {% if slug %}href="{% url 'blogs:post' slug %}{% endif %}">
            <div class="home__post--item-thumbnail">
                {% if img %}
                <img src="{{ MEDIA_URL }}{{ img.url }}" />
                {% endif %}
            </div>
        </a>
        <div class="home__post--item__text">
            <h3 class="home__post--item__title"><a {% if slug %}href="{% url 'blogs:post' slug %}"{% endif %}>{{ title }}</a>
            </h3>
            <div class="home__post--item__excerpt">
                {% if content %}
                {{ content|striptags|truncatechars:200 }}
                {% endif %}
            </div>
        </div>
    </div>
</div>