.profile__main {
    height: 100vh;
    background: linear-gradient(to right bottom, black, rgb(88, 173, 243));
}

.profile__box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.profile__main--container {
    height: 500px;
    width: 350px;
    box-shadow: 0 10px 20px black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--kio-font-family), sans-serif;
    background-image: url("../images/me.jpg");
}

.profile__main--container .gradient {
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to top, rgba(28, 171, 238, 0.7), rgba(253, 252, 252, 0.21));
    color: white;
}

.profile__main--container .content {
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    padding: 20px;
}

.profile__main--container h2 {
    font-size: xx-large;
    letter-spacing: -1px;
}

.profile__main--container .details {
    font-style: italic;
    color: rgb(185, 206, 224);
}

.profile__main--container .icons {
    display: flex;
    flex-direction: column;
    top: -30px;
    position: absolute;
    left: 85%;
}

.profile__main--container .icons i {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(202, 215, 226);
    transition: 0.3s;
}

.profile__main--container .icons i:hover {
    color: white;
}

@media screen and(min-width:200px) {
    .profile__main--container {
        height: 350px;
        width: 200px;
    }
    .profile__main--container h2 {
        font-size: x-large;
    }
    .profile__main--container .icons i {
        font-size: large;
        margin-bottom: 10px;
    }
}