<section class="container container__box-search">
    <div class="row container__box-form">
        <div class="col-12 col-md-12">
            <form class="blogs-search-form" role="search" action="/blogs" method="get">
                <div class="blogs-search-form__container">
                    <input placeholder="Search..." class="blogs-search-form__input" type="search" name="s"
                        title="Search" value="">
                    <button class="blogs-search-form__submit" type="submit" title="Search" aria-label="Search">
                        <i aria-hidden="true" class="fas fa-search"></i> <span
                            class="blogs-screen-only">Search</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>